/client_main/sypdroid_base/app/build
/client_main/sypdroid_base/.idea
/client_main/sypdroid_base/*.iml
/client_main/sypdroid_base/*.properties
/client_main/sypdroid_base/.gradle
/client_main/sypdroid_base/app/app.iml
